<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 596}}</string>
		<string>{{176, 0}, {909, 596}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>296037F3-3261-45E5-81F6-2FE065749A8B</string>
		<string>3F2265BA-7E79-4566-9FAC-5B3F1A0EE238</string>
		<string>070C2D1A-CBAE-444E-8A73-F81672C4A619</string>
		<string>6E24C9DF-2459-44AC-BBEF-C1DFC510C759</string>
		<string>8054B269-DF61-4A4D-8BF2-29183048373A</string>
	</array>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {767, 280}}</string>
		<string>{{0, 290}, {767, 280}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 586}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>200</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>AA0AB70A-7653-4952-B555-7723F5AACDE5</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>98</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1BD39D29-7486-430F-B11F-31B9C0AD03AD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7F5B8C48-8F45-4598-8773-5343233BFCC2</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E24C9DF-2459-44AC-BBEF-C1DFC510C759</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F0DBA201-28D7-403C-BFC0-AA6E1CD96C5D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8054B269-DF61-4A4D-8BF2-29183048373A</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>789CA68F-F4E1-4117-9ED3-765023FB9078</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F0DBA201-28D7-403C-BFC0-AA6E1CD96C5D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E24C9DF-2459-44AC-BBEF-C1DFC510C759</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F0DBA201-28D7-403C-BFC0-AA6E1CD96C5D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E24C9DF-2459-44AC-BBEF-C1DFC510C759</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>070C2D1A-CBAE-444E-8A73-F81672C4A619</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E24C9DF-2459-44AC-BBEF-C1DFC510C759</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A99C335-7731-4198-BC65-6A1CC60009D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF9F7CCC-A6B4-4F82-81D7-06974EB3327C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A99C335-7731-4198-BC65-6A1CC60009D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF9F7CCC-A6B4-4F82-81D7-06974EB3327C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A99C335-7731-4198-BC65-6A1CC60009D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4DDF641E-A6B6-4530-997D-B83A526D9EC3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E779C8A1-3705-4740-9409-C2E346172FE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4DDF641E-A6B6-4530-997D-B83A526D9EC3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>544A1B84-C28C-47F8-98E7-4797E693CBFB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8DCDE8C4-0173-4C60-AB42-B3714E7CFB21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D56DC22-4589-46DE-96AF-0B4E93FC780C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D35A038A-8155-4E8F-8F0F-41CD5AD9C605</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A99C335-7731-4198-BC65-6A1CC60009D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E244E1F5-19EB-46E7-8EF7-506A57FA7D30</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D35A038A-8155-4E8F-8F0F-41CD5AD9C605</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A99C335-7731-4198-BC65-6A1CC60009D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E24C9DF-2459-44AC-BBEF-C1DFC510C759</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D4CCF132-B19E-4181-A0CE-D521F9BA84E7</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7F5B8C48-8F45-4598-8773-5343233BFCC2</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF9F7CCC-A6B4-4F82-81D7-06974EB3327C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E779C8A1-3705-4740-9409-C2E346172FE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4DDF641E-A6B6-4530-997D-B83A526D9EC3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E779C8A1-3705-4740-9409-C2E346172FE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF9F7CCC-A6B4-4F82-81D7-06974EB3327C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D4CCF132-B19E-4181-A0CE-D521F9BA84E7</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>621C579B-98BD-4647-AD03-12CA5CDBB836</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D56DC22-4589-46DE-96AF-0B4E93FC780C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8DCDE8C4-0173-4C60-AB42-B3714E7CFB21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>544A1B84-C28C-47F8-98E7-4797E693CBFB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4DDF641E-A6B6-4530-997D-B83A526D9EC3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E779C8A1-3705-4740-9409-C2E346172FE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D56DC22-4589-46DE-96AF-0B4E93FC780C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>97B9BEB7-4578-49C0-B659-E0CAA29DAD41</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BF0AA98E-DDED-444D-A1AA-2FCDFFC5AC54</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3F2265BA-7E79-4566-9FAC-5B3F1A0EE238</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DC037BE8-E2FF-4B4A-8120-EB0AEF9F7D17</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BF0AA98E-DDED-444D-A1AA-2FCDFFC5AC54</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>97B9BEB7-4578-49C0-B659-E0CAA29DAD41</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EE1D5820-77D7-4C63-969E-2253AFA07AFD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B2851708-9A9E-48AE-ADC1-A96B3533A8D1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F5FA7D19-FDAD-40FD-9902-3FBD5BBB8F72</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E244E1F5-19EB-46E7-8EF7-506A57FA7D30</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4B4C82F1-EB21-4232-A05B-148ADB2C2627</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>51C58FC9-2750-4CDC-8EA2-0D1BA8EF3142</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>17F6EC0B-873F-4C46-8487-A5DDA643ED35</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>51C58FC9-2750-4CDC-8EA2-0D1BA8EF3142</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>17F6EC0B-873F-4C46-8487-A5DDA643ED35</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>51C58FC9-2750-4CDC-8EA2-0D1BA8EF3142</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DC037BE8-E2FF-4B4A-8120-EB0AEF9F7D17</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BF0AA98E-DDED-444D-A1AA-2FCDFFC5AC54</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>97B9BEB7-4578-49C0-B659-E0CAA29DAD41</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EE1D5820-77D7-4C63-969E-2253AFA07AFD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B2851708-9A9E-48AE-ADC1-A96B3533A8D1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F5FA7D19-FDAD-40FD-9902-3FBD5BBB8F72</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E244E1F5-19EB-46E7-8EF7-506A57FA7D30</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4B4C82F1-EB21-4232-A05B-148ADB2C2627</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>51C58FC9-2750-4CDC-8EA2-0D1BA8EF3142</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>17F6EC0B-873F-4C46-8487-A5DDA643ED35</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>621C579B-98BD-4647-AD03-12CA5CDBB836</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D56DC22-4589-46DE-96AF-0B4E93FC780C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8DCDE8C4-0173-4C60-AB42-B3714E7CFB21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>544A1B84-C28C-47F8-98E7-4797E693CBFB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4DDF641E-A6B6-4530-997D-B83A526D9EC3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E779C8A1-3705-4740-9409-C2E346172FE0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF9F7CCC-A6B4-4F82-81D7-06974EB3327C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A99C335-7731-4198-BC65-6A1CC60009D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D35A038A-8155-4E8F-8F0F-41CD5AD9C605</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F0DBA201-28D7-403C-BFC0-AA6E1CD96C5D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5BE46066-00B9-492F-9F20-F80950330172</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>789CA68F-F4E1-4117-9ED3-765023FB9078</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D4CCF132-B19E-4181-A0CE-D521F9BA84E7</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E98AC174-002B-4744-9074-03285737DF89</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>30B2E82B-39E4-421C-B528-A1943A472A21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E98AC174-002B-4744-9074-03285737DF89</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>30B2E82B-39E4-421C-B528-A1943A472A21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>446AFCBD-D4AC-4660-9CEE-8B1B1B1B9735</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>30B2E82B-39E4-421C-B528-A1943A472A21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E98AC174-002B-4744-9074-03285737DF89</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A73C6283-BB48-4C1A-B115-002B879DE75E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>69349426-30DD-4B7D-9B5E-686DF264E013</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7F5B8C48-8F45-4598-8773-5343233BFCC2</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>296037F3-3261-45E5-81F6-2FE065749A8B</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B2851708-9A9E-48AE-ADC1-A96B3533A8D1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>296037F3-3261-45E5-81F6-2FE065749A8B</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7B544140-7284-4A0C-B409-5C34EF13F38D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3F2265BA-7E79-4566-9FAC-5B3F1A0EE238</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CBB8B46C-F946-4825-891C-AE0FA22EB655</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0429E92E-59A0-4C09-B995-B39CE5667C14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>title</key>
		<real>611</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{460, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>23 259 1085 618 0 0 1440 877 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>title</key>
		<real>611</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
